
  
  .loading {
    text-align: center;
    font-size: 1.5rem;
    color: #000000; /* Celeste tecnológico */
  }
  
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
  
  .movie-card {
    background-color: #f5f5f5; /* Tarjetas claras */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
  }
  
  .movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 28px rgba(48, 69, 71, 0.3); /* Hover con luz cian */
  }
  
  .movie-poster {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }
  
  .movie-card h3 {
    font-size: 1rem;
    margin: 0.8rem 0 0.3rem;
    color: #000000; /* Celeste brillante */
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .movie-card p {
    margin: 0.2rem 0;
    font-size: 0.9rem;
    color: #333;
  }
  